node_modules/
../../.cache/
        ../../.gitconfig
        ../../.lesshst
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../.metadata/
        ../01-starting-project/
        ../BACKEND/
        ../BLOG-APP/
        ../CHAT-APPLICATION/
        ../DemoBackend/
        ../FRONTEND/
        ../NODE-REST-API/
        ../NodeExpressMongoose/
        ../ReactFlask/
        ../__MACOSX/
        ../crud_app/
        ../demo/
        ../nodepdf/
        ../pdffile/
        ../pdflib/
        ../portfolio/
        ../project/
        ../puppeteer/
        ../react-container/
        ../reactsocialmedia/
        ../redux_toolkit/
        customFunctions.js
        demo.html
        ../root/
        ../socketio/
        ../springReactive/
        ../../Favorites/
        ../../IBA_IOAPDATA/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{312dd4b6-d6c8-11ed-b5ac-d4c2fa5de0e3}.TM.blf
        ../../NTUSER.DAT{312dd4b6-d6c8-11ed-b5ac-d4c2fa5de0e3}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{312dd4b6-d6c8-11ed-b5ac-d4c2fa5de0e3}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../apache-tomcat-8.5.84/
        ../../data/
        ../../eclipse-workspace/
        ../../eclipse.exe
        ../../eclipse/
        ../../java-2022-12/
        ../../jee-2022-12/
        ../../jee-2022-122/
        ../../jee-2022-123/
        ../../neural-style-localmachine.ipynb
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../workspace/

